# Evan Gousha
## CS-150-02
### fall 2021

i. append()

allows us to append a single element to the end of the list.

In [2]:
numbers=[1,2,3,4,5,6,7,8]
numbers.append(9)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

ii. extend()
-allows us to append several elements to the end of a list (in the form of a list)

In [3]:
numbers.extend([10,11,12])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

iii. insert()
-allows us to insert into the list at any location (only 1 element)

In [4]:
numbers.insert(0,0)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

iv. remove()
-removes an element from the list if it exists (first occurrence)

In [5]:
numbers.remove(12)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

v. count()
-returns how many times an element is in a list

In [6]:
numbers.count(2)

1

vi. index()
-returns the index of item if it exists in the list - otherwise returns error message

In [7]:
numbers.index(5)

5

vii. pop()
-removes an item at a specified index value from a list

In [8]:
numbers.pop(5)
numbers

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

viii. sorted()
-returns list in ascecending order.

In [10]:
numbers1=[21,56,41,22,3,9,64,74]
sorted(numbers1)

[3, 9, 21, 22, 41, 56, 64, 74]

ix. copy()
-returns a copy of a list that is independent of the original list (it can be changed without changing the original list

In [11]:
p=numbers.copy()
p

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

x. clear()
-removes all elements from the list

In [12]:
p.clear()
p

[]

xi. any()
-retruns True if any item is true

In [14]:
list1=[True,True,False,False,True]
any(list1)

True

xii. filter()
-extracts elements from an iterable (list, tuple etc.) for which a function returns true

In [16]:
def odd(number):
    if number % 2 == 1:
          return True  

    return False
oddnumbers = filter(odd, numbers)
oddnumbers=list(oddnumbers)
print(oddnumbers)

[1, 3, 7, 9, 11]

xiii. list()
-takes an iterable object as input and adds its elements to a newly created list

In [18]:
x=list((1,4,5,6,7,8))
x

[1, 4, 5, 6, 7, 8]

xiv. map()
-allows you to process and transform all the items in an iterable without using an explicit for loop

In [19]:
def times2(number):
    return number * 2
numberstimes2 = map(times2, numbers)
numberstimes2 = list(numberstimes2)
print(numberstimes2)

[0, 2, 4, 6, 8, 12, 14, 16, 18, 20, 22]

i.cmp()
-Compares elements of both tuples

In [30]:
cmp(tuple1,tuple2)

NameError: name 'cmp' is not defined

ii. len()
-returns the length of a tuple or any other iterable

In [24]:
tuple1=(1,4,5,8,7,9)
len(tuple1)

6

iii. max()
-returns highest value of an iterable

In [25]:
max(tuple1)

9

iv. tuple(seq)
-Converts a list into tuple.

In [28]:
tuple(numbers)

(0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11)